.rateDishes-root > p{
    font-size: 46px;
}

.rateDishes-block {
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10% 0 17%;
}

.editMyChoices {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
}

.singleDish {
    /* border: 2px solid red; */
    margin-top: 5%;
    width: 50%;
    box-shadow: 2px -1px 26px -15px rgba(0,0,0,0.75);
    padding: 7% 7% 7% 15%;
    font-size: 14px;
    text-align: left;
    font-style: italic;
}

.singleDish img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.singleDish span {
    font-size: 22px;
    font-style: normal;
    margin-left: 10px;
}

.singleDish button {
    margin-top: 10%;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.resultsPage-link {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 24px;
    text-decoration: none;
}

.editPopup {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    z-index: 5;
    /* border: 2px solid red; */
    width: 40%;
    height: 40%;
    border-radius: 10px;
}

.grayBackground {
    background-color: gray;
    opacity: 20%;
}

.editPopupClose {
    cursor: pointer;
    position: relative;
    right: -150px;
}